*{
	
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	background-size: cover !important;
	
}


h1{
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	
}

p{
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	
}


.main-heading{
	font-size:80px;
	font-weight: 900;
	color:red;
	font-family: Arial, Helvetica, sans-serif;
	
}


.hero{
	height: 100vh;
	min-width: 100%;
	background-color: #000;
	background-size: cover;
	background-position: center;
	padding:90px;
	margin: 100px;
	display: flex;
	
	
	
}
.mb{
	padding-top: 100px;
}
.img{
	height: 700px;
	padding-left: 50px;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	position: fixed;
	background-color: #000;
	width:auto;
	
}
.logo{
	color: white;
	font-size: 25px !important;
	letter-spacing: 1px;
	margin-top: 15px;
	font-weight: 900;
	margin-left: 90px !important;
	margin-right: 130px !important;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: red;
	transition: .4s;
}

.icon{
	margin-right:20px;
}
.button1{
	
	color: white !important;
	text-decoration: none;
	border: 2px solid transparent;
	border-color: red !important;
	font-weight: bold;
	padding: 10px !important;
	border-radius: 30px;
	transition: transform .4s; 
	width:200px;
}
.button1:hover{
	transform: scale(1.2);
	background-color:red !important;
}

.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	
	font-size: 20px;
}

.social a i:hover{
	transform: scale(1.3);
	transition: .3s;
	color:red !important;
	text-decoration: none !important;
	
}




.card-container1{
	background-color: #000;
	min-height:100vh;
	width:100vw;
	background-size: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}

  

.card1:hover{
	background-color: red;
	margin-bottom: 50px;
	transition: .2s;

}
.card1{
background-color:#191919;
width:370px;
height:470px;
padding:30px;
margin:30px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;
border-width: 5px;
}





   .half-a-border-on-top {
	border-top:1px solid black;
	position: relative;
  }
  .half-a-border-on-top:after {
	content: "";
	width:70%;
	height:10px;
	background-color:red;
	position: absolute;
	left:0;
	top:-1px;
	
  }
  .half-a-border-on-bottom {
	border-bottom:1px solid black;
	position: relative;
  }
  .half-a-border-on-bottom:after {
	
	content: "";
	width:70%;
	height:10px;
	background-color:red;
	position: absolute;
	right:0;
	bottom:-1px;
	
  }


.card1 h1{
	font-size:25px;
	font-weight: 600;
	padding: 15px;
}
.image1{
	width:300px;
    height:300px;
}

.bg-container1{
	background-color: #191919;
	min-height:100vh;
	width:100vw;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	
	
	
}
.percentage-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.percentage-card{
	padding:50px;
}

.circle-wrap {
	
	width: 150px;
	height: 150px;
	background: #fb5607;
	border-radius: 50%;
	border: 1px solid #fb5607;
	
  }
.circle-wrap .inside-circle {
	width: 122px;
	height: 122px;
	border-radius: 50%;
	background: #191919;
	line-height: 120px;
	text-align: center;
	margin-top: 14px;
	margin-left: 14px;
	color: white;
	position: absolute;
	z-index: 100;
	font-weight: 700;
	font-size: 2em;
	
  }
  .bg-container2{
	background-color: #000;
	min-height:100vh;
	width:100vw;
	background-size: cover;
	text-align: center;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
  }
  .card-container2{
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
	
}
  .card2{
background-color:#191919;
width:370px;
height:470px;
margin:20px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;


  }
  .card2 img{
	height:150px;
	width:150px;
	background-size: cover;
	border-radius:80px;
	margin: 20px;
  }
  .card2 a i{
      color: red;
  }
  .card2:hover {
	background-color: red;
	margin-bottom: 50px;
	transition: .2s;
	color: white;

}
.card2:hover i{
	color: white;

}

.bg-container3{
	background-color: #191919;
	height:100vh;
	width:100vw;
	background-size: cover;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	
	
	
}


.video-description1{
	display: flex;
	
}
.bg-container3  img{
	height:450px;
	width:500px;
	padding:20px;
}
.video-description1 a i{
  padding-right:20px;
  font-size:40px;
  color:red;
  padding-top:20px;

}

.button3{
	background-color: transparent;
	border-width:1.5px;
	border-color: white;
	border-radius: 40px;
	padding:10px;
	width:150px;
}


.card4{
	background-color:#191919;
	width:370px;
	min-height:470px;
	margin:20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	text-align: center;
	
}
.card4:hover{
	background-color: red;
	margin-bottom: 50px;
	transition: .2s;
	color: white;

}
.card4:hover i{
	color: white;

}


.lists{
	display: flex;
	justify-content: space-around;
	padding-top: 25px;
	
	

}
.lists h1{
	font-size:15px;
	font-weight: thin;
	width: 150px;
}
.lists i{
	font-size:20px;
	
	padding-left: 160px;
	
}
hr{
	margin-bottom: 40px;
}
.cart{
	font-size:25px;
	color:red;
	padding: 5px;
}
.clients-cards{
	background-color: #191919;
	width: 100vw;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding: 100px;
	
	align-items: center;
}
.clients{
	display: flex;
	
	justify-content: space-around;

}
.testimonial-bg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
   min-height: 100vh;
}
.card-one{
	background-color: #191919;
	padding: 60px;
	width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.card-one:hover{

	background-color: red;
	padding-bottom: 20px;
	
}

.card-one:hover p {
	color:aliceblue;
}
.card-one:hover i{
	color:aliceblue;
}
.card-one img{
	border-radius: 90px;
	width: 100px;
	height: 100px;
	
	
}
.card-one p{
	color: dimgray;
}
.stars{
	display: flex;
}
.stars i{
	color: red;
}

.newsletter-bg{
	background-color: #191919;
	height: 50vh;
	width: 100vw;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.inputs{
	display: flex;
}
.contact-bg{
	background-color: #191919;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
}